<div class="footer">
  <div class="footer-links">
    Escolha sua rede:
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
<div class="footer-logo" style=" font-size: 40px; font-family: 'Gochi Hand'";>
  <%= image_tag "pipa-logo.png", width: "50px", height: "50px" %>
  Desapega Baby
</div>


  <div class="footer-copyright">
    Seu <i class="fas fa-piggy-bank" style= "color: pink;"></i> e o <i class="fas fa-globe-americas" style= "color: #008AFF;"></i>  agradecem
  </div>
</div>

