<div class="navbar">
  <script></script>
  <span class="navbar-toggle" id="js-navbar-toggle" >
    <i class="fas fa-bars" ></i>
  </span>
  <div class="avatar.navbar">
    <%= image_tag ("avatar.jpeg"), class: "avatar-bordered" %>
  </div>
  <h1 class="logo">Desapega Baby</h1>
  <ul class="main-nav" id="js-menu">
    <li>
        <p class="nav-links"> <%= link_to "Home", root_path %> </p>
    </li>
    <li>
        <p class="nav-links"> <%= link_to "Produtos", products_path  %> </p>
    </li>
    <li>
        <p class="nav-links">Vendedores</p>
    </li>
    <li>
        <p class="nav-links">Fale Conosco</p>
    </li>
    <li>
        <p class="nav-links"> <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %> </p>
    </li>
  </ul>
</div>
