<div class="navbar">
  <span class="navbar-toggle" id="js-navbar-toggle">
    <i class="fas fa-bars"></i>
  </span>
  <div class="avatar.navbar">
    <%= image_tag ("avatar.jpeg"), class: "avatar-bordered" %>
  </div>
  <h1 class="logo">Desapega Baby</h1>
  <ul class="main-nav" id="js-menu">
    <li>
        <p class="nav-links">Home</p>
    </li>
    <li>
        <p class="nav-links">Produtos</p>
    </li>
    <li>
        <p class="nav-links">Vendedores</p>
    </li>
    <li>
        <p class="nav-links">Fale Conosco</p>
    </li>
    <li>
        <p class="nav-links">Sing Out</p>
    </li>
  </ul>
</div>
