<h2>Confirmação de Compra</h2>
<p>Parabéns, você comprou:<p>
<div class="card-purchase">
  <%=@deal.product.name%>
  <%=@deal.product.description%>
  <%=@deal.product.price%>
</div>

<%= link_to "Voltar para Produtos", products_path, class: 'btn btn-primary' %>
