<h1>Confirmação de Compra</h1>
<h2>Parabéns, você comprou:</h2>
<div class="card-purchase">
<%=@deal.product.name%> 
<%=@deal.product.description%>
<%=@deal.product.price%>
</div>

<%= link_to "Voltar para Produtos", products_path, class: 'btn btn-primary' %>