.all-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.img-left {
  padding: 20px;
}
.product-info {
  display: block;
  
}

.product-cl-img {
  width: 40vw;
}

.cards-right {
  height: 50vh;
}

.btn {
border: 0;
}

.card-vendor {  
  color: black;
  border: #dcdcdc 1px solid;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  margin-left: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: start;
  font-family: "work sans";
}

.vendor {
  padding-top: 10px;
  padding-left: 10px;

}


.mini-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
