p {
  font-size: 18px;
}

h2 {
  margin-top: 8px;
}

.info {
  margin-top: 25px;
}

.img-deal {
height: 300px;
border-radius: 5px;
margin-bottom: 15px;
}

.container {
  align-items: center;
}

.btn {
 background-color: #C2EADD;
 color: black;
}
