.container-form {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}


.form-inputs {
  margin: 15px;
}

.form-control {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}

.form-group {
  text-align: center;
  .form-control-file {
    padding-left: 20vw;
  }
}
.btn-centered {
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
}


h2 {
  text-align: center;
}