
@import "alert";
@import "avatar";
@import "navbar";
@import "products";
@import "card";
@import "form";
@import "footer";
@import "user-profile";
@import "deal";

a:hover {
  text-decoration: none;
}

.ownerphoto {
    display: flex;
    justify-content: center;
}
