.navbar {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h3 {
  margin-right: 400px;
  font-family: 'Gochi Hand';
}

.nav-link {
  border-radius: 2px;
  padding: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
  margin-right: 2px;
  font-family: 'Open Sans';
  margin-top: 8px;
}
