.container {
  font-family: 'Open Sans';
  color: gray;
  border-radius: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 38px;
  width: 70%;
  margin: auto;
}


.product-new {
  font-size: 30px;
  margin-top: 20px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.product-name {
  text-align: left;
  span {
    font-weight: bolder;
  }
}

.card-category {
  height: 24rem;
  width: 20rem;
  margin-top: 15px;
  border-radius: 0px;
  background-color: white;
  text-align: center;
  color: rgba(0, 0, 0, .9);
  h3 {
  color: white;
  text-decoration: none;
  }
}

.card-text {
  margin: 0px;
  font-size: 13px;
}

// .btn {
//   color: gray;
//   box-shadow: 1px 1px 3px $info;
//   font-weight: bolder;
//   background-color: $info;
//   margin-bottom: 5px;
//   margin-left: 20px;
// }

// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     // grid-template-columns: 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     // grid-template-columns: 1fr 1fr 1fr;
//     grid-template-columns: 1fr 1fr;
//   }
// }
